.cocktail-info-card {
  font-family: 'Courgette', cursive;
  background-color: white;
  color-background: black;
  color: white;

    h1 {
      font-family: "Open Sans", "Helvetica", "sans-serif";
    }
}
.info-card-photo {
position: absolute;
justify-position: center;
}
